* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0 10px;
}


h1 {
    text-align: center;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.col-1 {
    width: 30%;
    margin-right: 3.4%;
    border: 3px solid #000;
    background-color: rgb(160, 220, 155);
    margin-left: 1.3%;
}

.col-2 {
    width: 30%;
    margin-right: 3.3%;
    border: 3px solid #000;
    background-color: rgb(160, 220, 155);
}

.col-3 {
    width: 30%;
    margin-right: 3%.3;
    border: 3px solid #000;
    background-color: rgb(160, 220, 155);
}

.caption-title-1 {
    background-color: rgb(255, 179, 0);
    color: #000;
    font-weight: 700;
    height: 30px;
    width: 100px;
    text-align: center;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    float: right;
}

.caption-title-2 {
    background-color: rgb(255, 0, 200);
    color: #fff;
    font-weight: 700;
    height: 30px;
    width: 100px;
    text-align: center;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    float: right;
}

.caption-title-3 {
    background-color: rgb(237, 129, 207);
    color: #000;
    font-weight: 700;
    height: 30px;
    width: 100px;
    text-align: center;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    float: right;
}

p {
    margin-top: 50px;
    padding-right: 25px;
    padding-left: 25px;
}

@media(max-width:992px) {

    .row {
        width: 100%;
        padding: 0 10px;
    }

    .col-1 {
        width: 45%;
    }

    .col-2 {
        width: 45%;
    }

    .col-3 {
        width: 93.5%;
        margin-top: 30px;
        margin-left: 10px;
    }
}

@media(max-width:767px) {

    .col-1 {
        width: 100%;
        margin-left: 0;
    }

    .col-2 {
        width: 100%;
        margin-top: 30px;
        margin-left: 0;

    }

    .col-3 {
        width: 96.5%;
        margin-top: 30px;
        margin-left: 0;
    }
}